@import 'compass';
/* SEe http://compass-style.org/reference/compass/typography/vertical_rhythm/*/

$base-font-size: 16px;
$base-line-height: 24px;
/*$min-line-padding: 1px;*/

@include establish-baseline;


html{
}

body{
  font-size: inherit;
  line-height: inherit;
  
  header,
  .header{

   @include adjust-font-size-to(16px);
   @include margin-leader(0.5);
   @include margin-trailer(0.5);

   h1{
     font-size: inherit; 
     padding: 0;
     margin: 0;
     line-height: inherit;
   }
   
   > p{
     @include adjust-font-size-to(30px, 2);
    } 
  }
  
  > .sidebar{
  }
  
  > .content{  
    
    > div{
     > section{
        @include margin-trailer(2.5);
     } 
    }
  }
}

.list{
  > .line{
    @include adjust-font-size-to(16px, 2);
  }
}

.subscriptions{
  > li{
    
    .header{
      @include adjust-font-size-to(15px); 
      @include padding-leader(0);
      @include padding-trailer(0);
    }
    
    .price{
      @include adjust-font-size-to(34px);
      @include padding-leader(0.35);
      @include padding-trailer(0.35);
      
      > small{
       @include adjust-font-size-to(5px, 0);
      }
    }
    
    button{
      @include padding-leader(0.25);
      @include padding-trailer(0.25);
      @include adjust-font-size-to(15px);
    }
  } 
}

.nav{
  
  &.nav-stacked{
  
    &+.tab-content{
      @include margin-leader(1);
    }
    
  }  
}

.divider{
  margin: 0.5em 0 !important;
}


