<header>Account</header>
<form>
	<label>
		<span>Username</span>
		<div>
			<input type="text" value="" placeholder="Your name"/>
			<i class='icon-edit pull-right'></i>
		</div>
		<div class='divider'></div>
	</label>
	<label>
		<span>Password</span>
		<div>
			<input type="password" value="" placeholder="Your password"/>
			<i class='icon-edit pull-right'></i>
		</div>
		<div class='divider'></div>
	</label>
	<label>
		<span>Domain</span>
		<div>
			<input type="text" value="" placeholder="Your domain"/>
			<i class='icon-edit pull-right'></i>
		</div>
		<div class='divider'></div>
	</label>
	<label>
		<span>Email</span>
		<div>
			<input type="text" value="" placeholder="Your email"/>
			<i class='icon-edit pull-right'></i>
		</div>
		<div class='divider'></div>
	</label>
</form>