<section>
	<header>
		<h1>Subscription status</h1>
		<p>Monthly. Next payment July 8, 2013.</p>
	</header>
	
	<div class="alert">
		Payment failed. Possibly, creditcard expired, unsufficient funds or cancelled by the creditcard company... Any issues you can’t resolve? contact <a href="mailto:support@viewbook.com">support@viewbook.com</a>
	</div>
	
	<ul class='horizontal-list'>
		<header>Payment method: Creditcard</header>
		<li>
			<button class="btn btn-link"><i class='icon-edit'></i>Review billing details</button>
		</li>
		<li>
			<button class="btn btn-link"><i class='icon-delete'></i>Cancel subscription</button>
		</li>
	</ul>
	
</section>

<section class="accordion listing">
  	<header>Invoices</header>
	<div class='list'>
		<div class='line'>
			<span>8.12.2013</span>
			<div>
				<span>Invoice 1532</span>
				<span><i class='icon-ok checked'></i> Paid</span>
				<a href="" class='pull-right'>
					<i class='icon-download'></i> .pdf
				</a>
			</div>
			<div class='divider'></div>
		</div>
	</div>
  	<div class="accordion-group">
	    <div id="collapseOne" class="accordion-body collapse">
	      <div class="accordion-inner">
			<div class='list'>
				<div class='line'>
					<span>8.11.2013</span>
					<div>
						<span>Invoice 1531</span>
						<span><i class='icon-ok checked'></i> Paid</span>
						<a href="" class='pull-right'>
							<i class='icon-download'></i> .pdf
						</a>
					</div>
					<div class='divider'></div>
				</div>
				<div class='line'>
					<span>8.10.2013</span>
					<div>
						<span>Invoice 1530</span>
						<span><i class='icon-ok checked'></i> Paid</span>
						<a href="" class='pull-right'>
							<i class='icon-download'></i> .pdf
						</a>
					</div>
					<div class='divider'></div>
				</div>
				<div class='line'>
					<span>8.9.2013</span>
					<div>
						<span>Invoice 1529</span>
						<span><i class='icon-ok checked'></i> Paid</span>
						<a href="" class='pull-right'>
							<i class='icon-download'></i> .pdf
						</a>
					</div>
					<div class='divider'></div>
				</div>
			</div>
	      </div>
	    </div>
	    <div class="accordion-heading">
	      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	      </a>
	    </div>
	 </div>
</section>